# vscode
.vscode
.dist
coverage
dist
# Intellij
*.iml
.idea

# npm
node_modules

/out
# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
package-lock.json
demo_vault/

# Generated release notes (created by workflow)
RELEASE_NOTES.md
GITHUB_RELEASE_NOTES.md
